# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Dataset images/labels
dataset/train/
dataset/valid/
dataset/test/
runs/

# System files
.DS_Store

# VS Code + files
.vscode/
*.docx
*.mp4
