# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# dataset images/labels
hand_dataset/train/
hand_dataset/valid/
hand_dataset/test/
hand_dataset/hand_detector
human_body_detector
runs/

# System files
.DS_Store

# VS Code + files
.vscode/
*.docx
*.mp4
